<div class="container">
  <div class="row">
    <div *ngFor="let order of orders" class="col-md-4 col-sm-12">
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          {{order.orderDate}}{{order.totalAmount}}$
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">{{order.userId}}</li>
          <li class="list-group-item">{{order.address}}</li>
          <li *ngFor="let product of order.products">
            {{product.name}} - {{product.price}}$
          </li>
          <li>Total Amount: {{order.totalAmount}}$</li>
        </ul>
      </div>
    </div>
  </div>
</div>
