<div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="...">
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
        Hello, world! This is a toast message.
      </div>
    </div>
  </div>

<div class="content">
    <div class="cart-content">
        <!-- <div *ngFor="let product of products">
            <h3>Sepetim (x ürün)</h3>
            <button (click)="addProductToCart(product)">Ekle</button>
        </div> -->
        <div class="suggested-products">
            <h5>Eklemek isteyebileceğiniz ürünler</h5>
            <div class="card mb-3" style="max-width: 350px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="assets/images/98d8c98167c0e03cb7b65c125d12daaa.jpg" class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                                additional content. This content is a little bit longer.</p>
                            <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="cart" *ngFor="let product of currentCart.products.values(); let i =index">
            <img [src]="this.getImagePath(product)" alt="">
            <div>
                <h6>{{product.name}}</h6>
                <p>{{product.description}}</p>
            </div>
            <div class="quantity-controls">
                <button class="btn btn-light" (click)="decreaseProductCount(product.id,i)">-</button>
                <input type="number" [value]="productCount[i]" />
                <button class="btn btn-light" (click)="increaseProductCount(i)">+</button>
            </div>
            <button class="delete-btn" (click)="deleteProductFromCart(this.currentCart.id,product)">
                🗑️
              </button>
            <div>
                <h5></h5>
                <div></div>
            </div>
        </div>
        <div class="button">
            <button (click)="showPaymentScreen()" class="btn btn-primary">
                Siparişi Tamamla
            </button>
        </div>
    </div>
    <div class="cart-sidebar">

    </div>

    <div *ngIf="isShowPaymentScreen" class="PaymentScreen">
        <div class="PaymentContent">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let product of currentCart.products.values()">
                {{product.name}} - {{product.price}}$
            </li>
          </ul>
          <p>Total Price : {{totalPrice}}$</p>
          <form [formGroup]="creditCardIdForm">
            <select class="form-select form-group" formControlName="creditCardId">
                <option selected>Kredi Kartınızı Seçiniz</option>
                <option ngDefaultControl="value" class="form-control" [value]="creditCard.id" *ngFor="let creditCard of creditCards">{{creditCard.creditCardNumber}} - {{creditCard.creditCardType}}</option>
              </select>
          </form>
          <div>
            <button class="btn btn-primary"(click)="finishPayment()">Ödeme Yap</button>
            <button class="btn btn-light" (click)="closePaymentScreen()">Kapat</button>
          </div>
        </div>
      </div>
</div>